<ion-tabs class="tabs-icon-top tabs-positive">
  
   
    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
  
    
    <ion-tab title="Details" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="tabs.details">
        <ion-nav-view name="details-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="GP Summary" icon-on="ion-ios-medical" icon-off="ion-ios-medical-outline" ui-sref="tabs.summary">
        <ion-nav-view name="summary-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Appointments" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" ui-sref="tabs.appointments">
        <ion-nav-view name="appointments-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
