<ion-view view-title="GP Connect Login" hide-back-button="true">
    <ion-content>
         <div class='list'>
            <div class='item item-input-inset'>
                <label class='item-input-inset'>
                    <input type='search' ng-model="model.username" placeholder='Username'>
                    
                </label>
            </div>
            
            <div class='item item-input-inset'>
                <label class='item-input-inset'>
                    <input type='search' ng-model="model.password" placeholder='Password'>

                </label>
            </div>
            
            <div class="text-center">
                <button class='button button-small button-positive' ng-click='login()'>Login</button>
             </div>
        </div>
    </ion-content>
</ion-view>