<ion-view view-title="GP Connect {{PatientName}}" hide-back-button="true">
    <ion-content>
        <div class='list'>
            <div class='item item-input-inset'>
                <label class='item-input-inset'>
                <input type='search' ng-model="model.term" placeholder='Enter NHS Number'>
                    
                </label>
                <button class='button button-small button-positive' ng-click='search()'>Submit</button>
                
            </div>
        
            <div class='item' ng-repeat="patient in results.entry" ng-click="select(patient.resource.identifier[0].value,patient.resource.name[0].text)" ui-sref='details(NHSNumber : patient.resource.identifier[0].value)'>
            {{patient.resource.identifier[0].value}} <b>{{patient.resource.name[0].text}}</b>
        </div>
    </div>
    </ion-content>
</ion-view>