<ion-view view-title="GP Connect" hide-back-button="true">
  <ion-content>
    <div class="list">
      <a href="#/patientdetails" class="item item-icon-left">
        <i class="icon ion-android-list"></i> Patient Details
      </a>
      <a href="#/summary" class="item item-icon-left">
        <i class="icon ion-ios-medical"></i> GP Summary Record
      </a>
      <a href="#/appointments" class="item item-icon-left">
        <i class="icon ion-ios-calendar"></i> GP Appointments
      </a>
    </div>
  </ion-content>
</ion-view>